.DS_Store
*~
*.swp
.*
~*
!.gitkeep

# Object files
*.o

# Problem files
*.txt
!issue*
*.zip

# Executables
*.exe
*.stackdump
*.out
solver
viewer

# Python files
*.pyc
*.pkl

# Log files
*.log

# Problem generator
create_q/
