.DS_Store
*~
*.swp
.*
~*
!.gitkeep

# Object files
*.o

# Problem files
*.txt
*.original
!issue*
*.zip
!README.txt

# Executables
*.exe
*.stackdump
*.out
solver
viewer
sim

# Python files
*.pyc
*.pkl

# Log files
*.log

# Problem generator
create_q/
